@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rancho');
body{background:url(../images/feeasy-background.jpg);font-family: 'Raleway', sans-serif;}
.top-right-wrap{margin-top:10px;}
a.top_link{color:#4C2611;font-weight:600;margin:0px 5px 0px;font-size:16px;text-decoration:none;}
a.top_link:hover{color:#fff;text-decoration:none;}
.home-banner{background:url(../images/homebanner.png);background-repeat:no-repeat;
background-size:cover;
background-position:center;height:416px;}
.banner-left-text{ position:relative;height:416px;}
.banner-left-text div{ position:absolute;
    bottom:-20px;
    right:0;}
.banner-right-text{position:relative;height:416px;}
.banner-right-text div{ position:absolute;
    bottom:-20px;
    right:0;}
.footer-block{
	background:url(../images/homepage-bottom.jpg);background-repeat:no-repeat;
background-size:cover;
background-position:center;height:956px;
}
/*Popup Form BOF*/	
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],.form-signin input[type="text"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button{background:#E25C26;}
/*SignIn Popup EOF*/	
@media only screen  
and (max-device-width : 1024px)  { 
.home-banner{background-size:contain;}
.banner-left-text div{bottom:0px;}
}